<p style="color: green"><%= notice %></p>
<div class="row mt-4">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="text-center">Greetings</h1>
    <div id="greetings" class="mb-4">
      <% @greetings.each do |greeting| %>
        <%= render greeting %>
        <p>
          <%= link_to "Show this greeting", greeting,  class: "btn btn-warning" %>
        </p>
      <% end %>
    </div>
    <%= link_to "New greeting", new_greeting_path, class: "btn btn-info btn-lg" %>
  </div>
  </div>


